$--colors: (
  "primary": (
    // --el-color-primary
    "base": #ee83ca,
  ),
);
$--bg-color: (
  // --el-bg-color-page
  "page": #f2f3f5
);
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $bg-color: $--bg-color
);

@use "./dark.scss";

// @debug $--colors;
