.flow-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  font-family: sans-serif;
  padding: 0.75em 1em;
  color: white;
  border: 0.15em solid white;
  transition: 4s;
}

.flow-button:before,
.flow-button:after {
  content: "";
  position: absolute;
  top: -1.5em;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1;
  border: none;
  border-radius: 40%;
  background-color: pink;
  transition: 4s;
}

.flow-button:before {
  left: -80%;
  transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.flow-button:after {
  right: -80%;
  transform: translate3d(0, 5em, 0) rotate(390deg);
}

.flow-button:hover,
.flow-button:focus {
  color: white;
}

.flow-button:hover:before,
.flow-button:hover:after,
.flow-button:focus:before,
.flow-button:focus:after {
  transform: none;
  background-color: pink;
}
