@use "element-plus/theme-chalk/src/index.scss" as *; // all
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *; // html.dark

@import "./home/index.scss";
@import "./_reboot.scss";


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
// }

html {
  --nav-bg-color: #fff;
}
html.dark {
  --nav-bg-color: #1a1b1e;
}


// 卡片
.rvc-card {
  background-color: $white;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}


