@use 'element-plus/theme-chalk/src/index.scss' as *; // all
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *; // html.dark

@import './home/index.scss';
// @import './_reboot.scss';

html {
  --nav-bg-color: #fff;
}
html.dark {
  --nav-bg-color: #1a1b1e;
  // --el-fill-color-blank

  // 文字
  // --el-text-color-secondary
  // 边框
  // --el-border
  // --el-border-color-light
  // --el-border-color-darker

  // --el-fill-color-lighter
  // 按钮
  // --el-button-bg-color
  // --el-button-text-color

  // 卡片
  // --el-card-bg-color
  // --el-card-border-color

  // 颜色
  // --el-color-primary
  // --el-color-primary-light-9

  // --el-bg-color-page
}

// 卡片
.rvc-card {
  background-color: $white;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--el-color-primary);
  // border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
  // border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}
